
    <div class="c-tools bg-gray">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">praktyczne narzędzia</h2>          

                    <div class="o-article o-article--huge">
                        <p>Wszystkie szablony, wzory i&nbsp;procedury możesz szybko przerobić i dostosować do siebie. To nie tylko kurs, ale też praktyczne narzędzia, które ułatwiają pracę.</p>
                    </div>
                </div>               

                <dl>
                    <dt>
                        <header class="o-header">
                            <i class="icon-align-left"></i>
                            <h5 class="o-lead">Szablony tekstów</h5>
                        </header>
                        
                        <article class="o-article o-article--medium">
                            <p>Powiem Ci nie tylko jakie elementy ma mieć oferta, ale też dokładnie co i w jakim miejscu opisać. To gotowe szablony tekstów, które wystarczy dostosować do potrzeb klienta.</p>
                        </article>
                    </dt>
                    
                    <dd>
                        <img src=<%= require("./img/tools/templates.svg") %> alt="Szablony tekstów" width="373">
                    </dd>
                </dl>
                
                <dl>
                    <dt>
                        <header class="o-header">
                            <i class="icon-headphones--bold"></i>
                            <h5 class="o-lead">różne formaty</h5>
                        </header>
                        
                        <article class="o-article o-article--medium">
                            <p>Powiem Ci nie tylko jakie elementy ma mieć oferta, ale też dokładnie co i w jakim miejscu opisać. To gotowe szablony tekstów, które wystarczy dostosować do potrzeb klienta.</p>
                        </article>
                    </dt>
                    
                    <dd>
                        <img src=<%= require("./img/tools/formats.svg") %> alt="różne formaty" width="373">
                    </dd>
                </dl>
                
                <dl>
                    <dt>
                        <header class="o-header">
                            <i class="icon-check-circle"></i>
                            <h5 class="o-lead">procesy i&nbsp;checklisty</h5>
                        </header>
                        
                        <article class="o-article o-article--medium">
                            <p>Koniec z zastanawianiem się nad tym, jaki jest następny krok albo co umieścić w ofercie. Pokażę Ci konkretne procedury, które możesz szybko powielić. Większość lekcji ma też podsumowanie w formie checklisty. </p>
                        </article>
                    </dt>
                    
                    <dd>
                        <img src=<%= require("./img/tools/process.svg") %> alt="procesy i checklisty" width="373">
                    </dd>
                </dl>
                
                <dl>
                    <dt>
                        <header class="o-header">
                            <i class="icon-mail"></i>
                            <h5 class="o-lead">szablony maili</h5>
                        </header>
                        
                        <article class="o-article o-article--medium">
                            <p>Twoja komunikacja z klientem przyśpieszy. Stworzyłem 18 gotowych szablonów najpopularniejszych wiadomości mailowych. Wystarczy podstawić do nich swoje dane.</p>
                        </article>
                    </dt>
                    
                    <dd>
                        <img src=<%= require("./img/tools/mail.svg") %> alt="szablony maili" width="373">
                    </dd>
                </dl>
                
                <div class="o-header aligncenter up--112 bottom--112">
                    <div class="o-article o-article--huge">
                        <p>Razem z kursem otrzymasz też uniwersalny szablon oferty. Jest łatwy w edycji i&nbsp;dopasowany do procesu, który omawiam w kursie.</p>
                    </div>
                </div> 
                
                <div class="c-tools__benefits bottom--72">
                    <ul class="o-list o-list--yellowchecks o-list--medium">
                        <li>11 układów<br> strony</li>
                        <li>uniwersalny<br> format a4</li>
                        <li>darmowe<br> fonty</li>
                        <li>nowoczesny<br> projekt</li>
                    </ul>
                </div>
                
                <div class="c-tools__summary">
                    <img src=<%= require("./img/tools/summary.png") %> alt="" width="939">
                </div>
                
                <div class="c-tools__circle">
                    <p>indd</p>
                    <p>+</p>
                    <p>docx</p>
                </div>
            </div>
        </div>
    </div>
